#xhanch_my_twitter hr{
	height:1px;
	width:100%;
	color:#000000
}

#xhanch_my_twitter .header_48{
	height:48px;
	line-height:48px;
	vertical-align:middle
}

#xhanch_my_twitter .text_18{	
	font-size:18px
}

#xhanch_my_twitter .img_left{	
	float:left;
	margin:0 5px 0 0;
	border:none
}

#xhanch_my_twitter_list{
	padding-left:0px;	
	margin-left:0px
}

#xhanch_my_twitter ul{
	line-height:150%;
	list-style:none;
}

#xhanch_my_twitter ul li.tweet_list{
	font:inherit;
	text-indent:0;
	background: none;
	padding:0;	
	margin:0;
	display:block;
	white-space: normal; 
	word-wrap: break-word;
	clear:both; 
}

#xhanch_my_twitter ul li.tweet_date{
	font:inherit;
}

#xhanch_my_twitter ul li.tweet_list:before{
	content:""
}

#xhanch_my_twitter .tweet_avatar{
	float:left;
	padding:0px 3px 3px 0;
	width:48px;
	height:48px;
	border:none;
	display:block
}

#xhanch_my_twitter .credit{
	font-size:10px;
	text-align:right;
}

#xhanch_my_twitter .credit a{
	text-decoration:none;
	font-size:10px
}

#xhanch_my_twitter .credit a:hover{
	text-decoration:underline;
}

#xhanch_my_twitter .clear{
	clear:both; 
}